---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Experience from '../components/Experience.astro';
import Education from '../components/Education.astro';
import Skills from '../components/Skills.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Oskar Villa">
    <main>
        <Hero />
        <Experience />
        <Skills />
        <Education />
        <Footer />
    </main>
</Layout>,
