---
import Subtitle from './common/Subtitle.astro';
import { socialData } from '../data/social.ts';
import { Icon } from 'astro-icon/components';
---

<section id="contact" class="flex flex-col items-center p-10 pb-0 lg:block">
    <Subtitle>Contact</Subtitle>
    <p class="py-10 text-justify">
        Feel free to reach out to me through any of the platforms below. I'm
        always open to discussing new projects, creative ideas, or opportunities
        to be part of your vision. Let's connect and create something together!
    </p>
    <ul class="flex justify-around gap-6">
        {
            socialData.map((social) => (
                <li class="flex flex-col items-center justify-center">
                    <a
                        href={social.link}
                        class="flex flex-col items-center justify-center"
                    >
                        <Icon
                            name={social.icon}
                            class="w-20 h-20"
                            style={`color: ${social.color}`}
                        />
                        <h3>{social.platform}</h3>
                    </a>
                </li>
            ))
        }
    </ul>
</section>
