---
import Subtitle from './common/Subtitle.astro';
import { socialData } from '../data/social.ts';
import { Icon } from 'astro-icon/components';
---

<section id="contact" class="flex flex-col items-center lg:block h-80">
    <Subtitle>Contact</Subtitle>
    <ul class="flex justify-around gap-6">
        {
            socialData.map((social) => (
                <li class="flex flex-col items-center justify-center">
                    <a
                        href={social.link}
                        class="flex flex-col items-center justify-center"
                    >
                        <Icon
                            name={social.icon}
                            class="w-20 h-20"
                            style={`color: ${social.color}`}
                        />
                        <h3>{social.platform}</h3>
                    </a>
                </li>
            ))
        }
    </ul>
</section>
