<div class="flex">
    <div class="w-1/2 h-screen justify-center items-center hidden lg:flex">
        <ul class="list-none text-3xl font-bold h-auto animate-slideInRight">
            <li class="my-6">
                <a href="#experience" class="p-2 hover:bg-gray-700 hover:text-gray-100">
                    Experience
                </a>
            </li>
            <li class="my-6">
                <a href="#skills" class="p-2 hover:bg-gray-700 hover:text-gray-100">
                    Skills
                </a>
            </li>
            <li class="my-6">
                <a href="#projects" class="p-2 hover:bg-gray-700 hover:text-gray-100">
                    Projects
                </a>
            </li>
            <li class="my-6">
                <a href="#education" class="p-2 hover:bg-gray-700 hover:text-gray-100">
                    Education
                </a>
            </li>
            <li class="my-6">
                <a href="#contact" class="p-2 hover:bg-gray-700 hover:text-gray-100">
                    Contact
                </a>
            </li>
        </ul>
    </div>
    <div class="w-full lg:w-1/2 lg:h-screen bg-gray-800 animate-slideInLeft flex justify-center items-center">
        <div class="flex items-start flex-col p-10">
            <p class="text-7xl text-gray-100 font-bold">
                Oskar <br /> Villa
            </p>
            <p class="text-3xl text-gray-100">Software Developer</p>
        </div>
    </div>
</div>
