---
import { Image } from 'astro:assets';
const { href, frontmatter } = Astro.props;
---

<div>
    <a
        href={href}
        class="flex flex-col justify-center items-center gap-2 rounded-xl p-4 bg-gray-900"
    >
        <h2 class="text-lg font-bold text-gray-100">{frontmatter.title}</h2>
        <Image
            class="rounded-lg"
            src={frontmatter.cover}
            alt={frontmatter.coverAlt}
            width={400}
        />
    </a>
</div>
