---
import Subtitle from './common/Subtitle.astro';
import { skillsData } from '../data/skills.ts';
import { Icon } from 'astro-icon/components';
---

<section id="skills" class="flex flex-col items-center lg:block p-10 pb-0">
    <Subtitle>Skills</Subtitle>

    <div class="flex flex-wrap justify-around">
        {
            skillsData.map((skill) => (
                <div class="m-4 lg:m-10 w-40 h-40 group">
                    <p class="text-wrap lg:opacity-0 group-hover:opacity-100">
                        {skill.name}
                    </p>
                    <div class="border-2 border-gray-700 p-4 text-gray-700 flex justify-center hover:bg-gray-700 hover:text-white">
                        <Icon
                            name={skill.icon}
                            class="w-20 h-20"
                            style={`color: ${skill.color}`}
                        />
                    </div>
                </div>
            ))
        }
    </div>
</section>
