---
const pathname = Astro.url.pathname;
import { Icon } from 'astro-icon/components';
---

<section
    id="nav-bar"
    class="relative flex p-4 px-10 items-center justify-between bg-gray-700"
>
    <p id="nav-title" class="text-3xl text-gray-100 font-bold">Oskar Villa</p>
    <button
        class="absolute right-4 md:hidden text-gray-100 focus:outline-none"
        onclick="document.getElementById('nav-menu').classList.toggle('hidden'); document.getElementById('nav-title').classList.toggle('hidden'); document.getElementById('nav-bar').classList.toggle('items-center'); this.classList.toggle('text-gray-400');"
    >
        <Icon name="fa6-solid:bars" class="w-8 h-8" />
    </button>
    <ul
        id="nav-menu"
        class="hidden md:flex gap-4 list-none text-xl font-bold h-auto"
    >
        <li class="my-6">
            <a
                href="/"
                class={`p-2 hover:text-gray-400 ${pathname === '/' ? 'text-gray-400' : 'text-gray-100'}`}
            >
                Home
            </a>
        </li>
        <li class="my-6">
            <a
                href="/projects/1"
                class={`p-2 hover:text-gray-400 ${pathname.startsWith('/projects') ? 'text-gray-400' : 'text-gray-100'}`}
            >
                Projects
            </a>
        </li>
        <li class="my-6">
            <a
                href="/about-me"
                class={`p-2 hover:text-gray-400 ${pathname === '/about-me' ? 'text-gray-400' : 'text-gray-100'}`}
            >
                About me
            </a>
        </li>
        <li class="my-6">
            <a
                href="/contact"
                class={`p-2 hover:text-gray-400 ${pathname === '/contact' ? 'text-gray-400' : 'text-gray-100'}`}
            >
                Contact
            </a>
        </li>
    </ul>
</section>
