---

---

<section
    class="p-10 prose-h1:text-gray-700 prose-h1:font-bold prose-h1:text-4xl prose-h1:lg:text-5xl prose-h1:mb-10 prose-p:text-sm prose-p:text-justify prose-p:lg:text-base prose-a:text-blue-600 prose-p:mb-4 prose-img:mx-auto prose-img:lg:w-[50%]"
>
    <slot />
</section>
